.validation-ok-decoration {
    -fx-effect: dropshadow(gaussian, #00C108, 5, 0.5, 0.0, 0);
}

.validation-warning-decoration {
    -fx-effect: dropshadow(gaussian, #FF8900, 5, 0.5, 0.0, 0);
}

.validation-error-decoration {
    -fx-effect: dropshadow(gaussian, #EF0008, 5, 0.5, 0.0, 0);
}

.tab.validation-ok-decoration {
    -fx-effect: innershadow(gaussian, #00C108, 3, 0.5, 0.0, 3);
}

.tab.validation-warning-decoration {
    -fx-effect: innershadow(gaussian, #FF8900, 3, 0.5, 0.0, 3);
}

.tab.validation-error-decoration {
    -fx-effect: innershadow(gaussian, #EF0008, 3, 0.5, 0.0, 3);
}

.notification-pane.validation-ok-notification .notification-bar .label  {
    -fx-text-fill: #00C108;
}

.notification-pane.validation-warning-notification .notification-bar .label  {
    -fx-text-fill: #FF8900;
}

.notification-pane.validation-error-notification .notification-bar .label  {
    -fx-font-weight: bold;
    -fx-text-fill: #EF0008;
}
